body {
    background-color: #232323;
    margin: 0px;
    font-family: "Montserrat", "Avenir";
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0px; 

}

#message {
    display: inline-block;
    width: 20%;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

.square {
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
    background-color: purple;
    border-radius: 15%;
    transition: background-color 0.6s;
    --webkit-transition: background-color 0.6s;
    --moz-transition: background-color 0.6s;
}

.selected {
    border: none;
    background-color: steelblue;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    font-size: inherit;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

#colorDisplay {
    font-size: 200%;

}

button {
    border: none;
    background-color: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all .3s;
    --webkit-transition: all 0.6s;
    --moz-transition: all 0.6s;
    border-radius: 2px;
    outline: none;
}
button:hover {
    border: none;
    background-color: steelblue;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all .3s;
    --webkit-transition: all 0.6s;
    --moz-transition: all 0.6s;
    border-radius: 2px;
    outline: none;
}
